{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Test of a FTP Downloader app</h1>
    <p class="lead">This application is built on the Python Flask framework</p>
    <!-- {{current_time}} -->
  </div>
<br>

dict= {{dict}}

<ul>Looks good but how to get the data in asI need?
{% for href, caption in [('NCT01119859', 'title1'), ('NCT01119129', 'title1'),('NCT09119859', 'title3')] %}
   <li>{{ href }}/{{ caption }}</li>
{% endfor %}

not good, but I can get the data in as I want
{% for href, caption in [(tup1,tup2)] %}
    <li>{{ href }}/{{ caption }}</li>
{% endfor %}
</ul>

trying the dictionary - get in there - it seems to work
{% for href, caption in dictionary %}
    <li>{{ href }}/{{ caption }}</li>
{% endfor %}
</ul>


<div class="ui segment">
  {{x}}
</div>
<div class="ui segment">
  {% for di,item in dirl,y %}
    {{di}}/{{item}}<br>
  {% endfor %}
</div>


{% for item in tup1 %}
  {% if item == di %}
  <p>{{tup2[loop.index]}} {{di}}</p>
  {% else %}
  <p> title not found {{tup2[loop.index]}} {{di}} </p>
  {% endif %}

{% endfor %}


{{tup1}} {{tup2}}

{{dir}}

{% endblock %}
